__author__ = 'mendrugory'

MONGODB_HOST = 'localhost'
MONGODB_NAME = 'data_base_name'

CONSUMER_KEY = "34rlQZC1TNntEsddkd87j3IuZJRXm"
CONSUMER_SECRET = "ZZYjBTyK9898jdjddVzBNZX7gDLavXj8D0fVasdfsN1TMtEcCYcjb"
ACCESS_TOKEN = "2934703207-K988d89dxr5sdI4zEAEJbjtdV7XyiiOOkkdhsu882f9sqi0Qts"
ACCESS_TOKEN_SECRET = "YOcAxPsddfUt7xqUTV8772hhdhHHTvjKsDkohfgg0ffuUpSdCh2dwE"
